body {
    background-color: #ffffff;
    color: #ffffff;
}

h1 {
    /* color: rgb(37, 37, 37) */
}

.btn1 {
    background-color: #e4e3a3;
}

.btn2 {
    background-color: #273792;
}

#Night__mode {
    background-color: black;
}